<configuration>
    <job>
	<name>HadoopAnalysis</name>
	<owner>Simone</owner>
    </job>
    <computation-unit>simone0001</computation-unit>
    <phases>
	<phase0>
	    <mappings>
		<features>
		    <feature>
			<name>time</name>
			<col-index>0</col-index>
			<type>cumulative</type>
		    </feature>
		    <feature>
			<name>map</name>
			<col-index>1</col-index>
			<type>cumulative</type>
			<monotony>ascendant</monotony>
			<bounds>
			    <lower>0</lower>
			    <upper>100</upper>
			</bounds>
		    </feature>
		    <feature>
			<name>reduce</name>
			<col-index>2</col-index>
			<type>cumulative</type>
			<monotony>ascendant</monotony>
			<bounds>
			    <lower>0</lower>
			    <upper>100</upper>
			</bounds>
		    </feature>
		    <feature>
			<name>total</name>
			<col-index>3</col-index>
			<type>cumulative</type>
			<monotony>ascendant</monotony>
			<bounds>
			    <lower>0</lower>
			    <upper>200</upper>
			</bounds>
		    </feature>
		    <feature>
			<name>replication</name>
			<col-index>4</col-index>
			<type>cumulative</type>
		    </feature>
		    <feature>
			<name>blocksize</name>
			<col-index>5</col-index>
			<type>cumulative</type>
		    </feature>
		    <feature>
			<name>dimension</name>
			<col-index>6</col-index>
			<type>cumulative</type>
		    </feature>
		    <feature>
			<name>start_reduce_percentage</name>
			<col-index>7</col-index>
			<type>cumulative</type>
		    </feature>
		    <feature>
			<name>workload</name>
			<col-index>8</col-index>
			<type>categorical</type>
		    </feature>
		</features>
	    </mappings>
	    <timestamp-features ref="time">
	</phase0>
	<phase2a>
	    <configuration>
		<target-feauter ref="blocksize">
		<target-feauter ref="dimension">
		<target-feauter ref="start_reduce_percentage">
		<target-feauter ref="workload">
	    </configuration>
	    <lags>
		<ar>1</ar>
	    </lags>
	</phase2a>
	<phase3>
	    <charge>
		<start-from>
		    <initial-condition>0</initial-condition>
		</start-from>
		<stop-at>
		    <threshold>200</threshold>
		</stop-at>
	    </charge>
	</phase3>
    </phases>
</configuration>
